{% extends 'base.html.j2' %}
{%block main_content%}
<div class="main-content inner forgot">
<section class="scroll-first secondry-bg section-padding" id="forgot-pwd">
   <div class="container">
       <div class="col-sm-12">
           <div class="col-sm-7 col-xs-10 col-centered">
               <div class="col-sm-12 forgot-pwd">
                   <div class="col-xs-12">
                           <h3 class="title-head"><span>Forgot </span> Password</h3>
                           <p class="text">Please enter your registered e-Mail ID to Receive the Password reset Link</p>
                           {% if error %}
                           <p style="color:red;margin-top:10px;text-align:center;">{{error}}</p>
                           {% endif %}
                       </div>

                   <form action="" method="post">
                     <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                       {% if form.email.errors %}
                       <ol>
                         {% for error in form.email.errors %}
                         <li><strong>  <p style="color:red;margin-top:10px;text-align:center;">{{ error|escape }}</p></strong></li>
                         {% endfor %}
                       </ol>
                       {% endif %}
                       <div class="col-xs-12">
                           <!-- <input class="input" type="email" placeholder="Enter Your Email">/ -->
                           {{ form.email }}
                       </div>

                       <div class="col-xs-12">
                           <input class="submit" type="submit" value="submit">
                       </div>
                   </form>
               </div>
           </div>
       </div>
   </div>
    </section>
</div>




{%endblock%}
{%block custome_script%}
<script type="text/javascript">
$(document).ready(function(){
    $("#id_email").attr('placeholder', '{{form.email.label}}');
});
</script>
{% endblock %}
