{% extends 'base.html.j2' %}

{% block main_content %}
<div class="main-content inner forgot">
     <!-- div class main content start-->
<section class="scroll-first secondry-bg section-padding" id="forgot-pwd">
   <div class="container">
     <div class="row">
       <p>
         Your password has been set. You may go ahead and <a href="{{ url('login',) }}">login in</a> now.
       </p>
     </div>
   </div>
{% endblock %}
