{% extends 'base.html.j2' %}
{%block main_content%}
<div class="main-content inner forgot">
  <section class="scroll-first secondry-bg section-padding" id="forgot-pwd">
     <div class="container">
         <div class="col-sm-12">
             <div class="col-sm-7 col-xs-10 col-centered">
                 <div class="col-sm-12 forgot-pwd">
                     <div class="col-xs-12">
                       {% if error %}
                       <p style="color:red;margin-top:10px;text-align:center;">{{error}}</p>
                       {% endif %}
                       {% if validlink %}
                         <h3 class="title-head"><span>Change </span> password</h3>
                         <form method="post">
                             <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                             <div class="col-sm-12">
                             {{ form.new_password1 }}
                             {% if form.new_password1.errors %}
                             <ol>
                               {% for error in form.new_password1.errors %}
                               <li><strong>  <p style="color:red;margin-top:10px;text-align:center;">{{ error|escape }}</p></strong></li>
                               {% endfor %}
                             </ol>
                             {% endif %}
                            </div>
                            <div class="col-sm-12">
                             {{ form.new_password2 }}
                             {% if form.new_password2.errors %}
                             <ol>
                               {% for error in form.new_password2.errors %}
                               <li><strong>  <p style="color:red;margin-top:10px;text-align:center;">{{ error|escape }}</p></strong></li>
                               {% endfor %}
                             </ol>
                             {% endif %}
                             </div>
                             <button type="submit" class="button">Change Password</button>
                         </form>
                       {% else %}
                       <p>The password reset link was invalid, possibly because it has already been used.Please request a new password reset<a href="{{ url('reset_pasword_do',) }}">Click here to reset your password</a></p>
                       {% endif %}
                     </div>
                 </div>
             </div>
         </div>
     </div>
  </section>
</div>
{%endblock%}
{%block custome_script%}

<script type="text/javascript">
    {%if validlink%}
      $(document).ready(function(){
          $("#id_new_password1").attr('placeholder', '{{form.new_password1.label}}');
          $("#id_new_password2").attr('placeholder', '{{form.new_password2.label}}');
      });
    {%endif%}
</script>
{%endblock%}
