<!--
 @Author: Javed Ahamad
 @Date:   2017-02-12
 @Email:  javedahamad4@gmail.com
 @Filename: login.html.j2
-->

{% extends 'base.html.j2' %}


{% block main_content %}
 <div class="main-content inner change-pwd">
      <!-- div class main content start-->
<section class="scroll-first section-padding" id="Change-pwd">
    <div class="container">
        <div class="col-sm-12 dashbord">
            <div class="col-sm-3 secondry-bg dashbord-menu">
                    {% include 'web/dashboard-side.html.j2' %}
                </div>
                <div class="col-sm-7 col-xs-12 dashbord-content">
                <div class="col-xs-12 no-gutter text-left">
                            <h3 class="title-head"><span>My </span> Profile</h3>
                        </div>
                <div class="col-sm-12 forgot-pwd change-pwd">
                    <form method="post">
                      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                        <div class="col-xs-12">
                            <!-- <input class="input" type="Password" placeholder="Old Password"> -->
                            {{form.old_password}}
                            {% if errors.has_key('old_password') %}
                            <div>
                              <p style="color:red;text-align:center;">{{errors['old_password']}}</p>
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-xs-12">
                            <!-- <input class="input" type="password" placeholder="New Password"> -->
                            {{form.new_password}}
                            {% if errors.has_key('new_password') %}
                            <div>
                              <p style="color:red;text-align:center;">{{errors['new_password']}}</p>
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-xs-12">
                            <!-- <input class="input" type="Password" placeholder="Confirm Password"> -->
                            {{form.retype_password}}
                            {% if errors.has_key('retype_password') %}
                            <div>
                              <p style="color:red;text-align:center;">{{errors['retype_password']}}</p>
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-xs-12">
                            <input class="submit" type="submit" value="Update">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
     </section>
</div>
{% endblock %}
