<!--
 @Author: Javed Ahamad
 @Date:   2017-09-27
 @Email:  javedahamad4@gmail.com
 @Filename: corporate-gifting.html.j2
-->

{% extends 'base.html.j2' %}


{% block main_content %}


{% block og_content %}
    
    <meta property="og:title" content="Corporate Green Gift Ideas for Employees and Clients, Buy Plants for Corporate Gifting - Green Decor">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Choose eco-friendly corporate gift ideas for your employees and clients this festival. Buy high quality gift plants to give as corporate gifts online and opt for green gifting ideas with Green Decor - leading online plant nursery in India."> <meta property="og:url" content="https://www.greendecor.in/{{url('corporate-gifting')}}">
    <meta property="og:image" content="https://www.greendecor.in/static/web/img/corporate_gifting.jpg">
   
{% endblock %}

<style>
li, .corporate-gift .right ul li{
  font-family: opensans-regular;
    font-size: 1.3rem;
    margin-bottom: 6px;
}
    
    .corporate-gift .right p{
        text-align: justify;
    font-size: 1.35rem;
        line-height: 24px;
    }

ol{
  padding-left: 15px;
}

.contact-form input.submit{
  margin-top: 20px;
}
.contact-form textarea.textarea{
  border: 1px solid #999999;
  padding: 8px 12px;
  list-style-type: none;
}
.contact-form textarea.textarea:hover, .contact-form textarea.textarea:focus{
  border: 1px solid #999999 !important;
  padding: 8px 12px !important;
  list-style-type: none;
  outline: none;
}
</style>
<div class="main-content">
  <div class="container corporate-gift">
    <div class="row">
      <div class="col-xs-12 col-lg-6 col-lg-push-6">
        <div class="right">
        <h1>Eco-Friendly Corporate Gifting Ideas</h1>
        <p>In a corporate set up, coordination and appreciation are the two pillars of effective teamwork. While your employees may not say it, but a few words of appreciation can do wonders to their zeal and productivity. On the other hand, clients always have a soft corner for a personalized commitment on your part. Therefore, by considering natural plants for corporate gift ideas, you can add more value to your words by appreciating their efforts through gifts that are meaningful, long-lasting and worthy.
</p>

<p>

          The best part about plants as corporate gift ideas for clients is that they suit any occasion or event and offer you an inexhaustible variety of options, at an affordable price range <b>from INR 150 to INR 50,000</b> you will have adorable plants as gifts that fit all budgets.

        </p>


        <section class="scroll-first" id="contact-form">
            <div class="col-md-12 col-sm-12 col-xs-12 contact-form">
               <div class="row">
                    <div class="col-xs-12 no-gutter">

                        <div class="col-sm-12 col-xs-12 secondry-bg">
                        <div class="col-xs-12">
                              <div class="col-xs-12 section-title">
                                  <h4 class="title">Leave a Message To Us</h4>
                            </div>
                                <form method="post" action="">
                                  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                      <div class="col-sm-6">
                                          <input type="text" class="input" name="fname" placeholder="First Name" required>
                                      </div>
                                    <div class="col-sm-6">
                                          <input type="text" class="input" name="lname" placeholder="Last Name">
                                      </div>
                                      <div class="col-xs-12">
                                          <input type="text" class="input" name="company_name" placeholder="Company Name">
                                    </div>
                                    <div class="col-sm-6">
                                          <input type="email" class="input" name="email" placeholder="Your Email ID" required>
                                      </div>
                                    <div class="col-sm-6">
                                          <input type="text" class="input" name="phone" placeholder="Phone" required>
                                      </div>
                                        <div class="col-xs-12 submit">
                                          <textarea cols="12" rows="2" name="comment" class="textarea" placeholder="Your Query" ></textarea>
                                      </div>
                                      <div class="col-xs-12 submit">
                                          <input type="Submit" class="submit" value="Send It" />
                                      </div>
                                  </form>
                              </div>
                            </div>
                        </div>
                    </div>
                    </div>

        <div class="clearfix"></div>
        </section>

        <p> Green Decor brings you a vast array of “Gift a Life” options, a unique set of corporate gift ideas for employees or clients where you may gift a natural plant to your employees, colleagues or partners and let them know that you care about them.
</p>
        <p>
          Gifting a plant is not only a meaningful and distinctive gesture, but it also allows you to inculcate positivity and determination among your employees. Further, these natural <a href="http://www.blog.greendecor.in/do-you-know-that-plants-are-effective-stress-busters/">plants have excellent stress-busting abilities</a> and can suit any stature and lifestyle. Therefore, your workplace will get a renewed boost of energy like never before with these remarkable corporate gift ideas for employees.

        </p>

        <p>
          Using natural plants for corporate gift ideas is fast becoming a widespread cultural phenomenon across organisations in Europe, USA, Asia and now in India as well. People believe that plants are a good omen and a precious act of nature in favour of the humanity. Also, plants not only purify the air and protect the environment but also help create a positive atmosphere around the vicinity and let the inflow of energy soothe one and all.

        </p>

        

        <p>
          You as a business, corporate, educational institution or any other commercial/non-commercial establishment can use<a href="https://www.greendecor.in/category/combo-pack-of-plants-for-occasions-online"> plants for gifting on occasions</a> such as -


        </p>

         <ul>
        <li>
        <b>Festival</b> – You may include plants in your gifting array, and that would be like the cherry on the top. Green Decor, being a leading online plant nursery in India, offers eco-friendly corporate <a href="https://www.greendecor.in/buy-plants-for-diwali-gifts/">gift plants for Diwali</a>. Find the best suitable one for your employees, clients or customers.
        </li>
        <li> <b>Corporate Events</b> – You may present a soothing table plant as a token of appreciation to the guest of honour.
</li>
        <li><b>Monthly Events</b> – Monthly Employee appreciation, Promotion and Welcome Gifts.</li>

        </ul>
        <p>
          Along with above purposes, you can also gift plants for Office Atrium, Façade, Reception and Conference Room or as Table Top Plants for meeting rooms.

        </p>
            <h2><b>Why you should buy plants as corporate gifts for your employees, clients or peers?</b></h2>


<p>Given below are the best 5 advantages which signify a plant as a better corporate gift idea over all other available gift-ideas –
</p>

<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Plants are long lasting, easy to care and are the most effective </span><a href="https://www.greendecor.in/category/buy-airpurifing-online-in-delhi/"><span style="font-weight: 400;">natural air purifiers</span></a></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Plants can be gifted to a person of any stature, any position and rank because plants suites all</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Plants have a wide price range to choose from starting with INR 200 &amp; above</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Plants can be used for branding &amp; positioning purpose also</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Gifting a plant is caring for the environment and contributing your bit towards ecology protection.</span></li>
</ol>

<p>At Green Decor, we are equipped to deliver high quality corporate gift plants at your doorstep whenever you require them. “Gift a life” concept is widely accepted and thought-provoking endeavour, which needs your attention and practice. If you’re searching a place to buy plants for corporate gifts in India, Green Decor is always available with its wide collection of natural gifting plants as a part of corporate gift ideas.</p>


      </div>
    </div>
      <div class="col-xs-12 col-lg-6 col-lg-pull-6">
        <div class="left">
          <div class="about-scroll mCustomScrollbar _mCS_1">
            <div class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside">
        <ul class="popup-gallery">

          {% for cg in corporate_gift %}
            <li class="card"><img alt="{{cg.title}}" title="{{cg.title}}" src="{{cg.image.url}}"> <span>{{cg.title}}</span> </li>
          {% endfor %}
           <!-- <li class="card"><img alt="" src="http://www.nurturinggreen.in/media/wysiwyg/Corporate-Diwali-Gifts.jpg"  > <span>Name</span> </li> -->
          </ul>
      </div>
    </div>
  </div>
    </div>

    </div>
  </div>
</div>
{% endblock %}
