<!--
 @Author: Javed Ahamad
 @Date:   2017-02-12
 @Email:  javedahamad4@gmail.com
 @Filename: login.html.j2
-->

{% extends 'base.html.j2' %}


{% block main_content %}
 <div class="main-content inner faq">
      <!-- div class main content start-->
      <!-- /container -->
<section class="scroll-first section-padding" id="faq-sec">
 <div class="container">
     <div class="row">
        <div class="col-md-12 faq-sec">
            <div class="col-sm-3 faq-title">
               <ul>
                   <a href="#plant"><li class=".act-sec">Plant</li></a>
                   <li>Placemets</li>
                   <li>More</li>
                </ul>
            </div>
            <div class="col-sm-9 faq-content">
                <div class="col-sm-12 no-gutter" id="plant">
                    <div class="col-sm-12 no-gutter section-title">
                        <h4 class="title">Plant</h4>
                    </div>
                <div class="col-sm-12 no-gutter panel">
                    <div class="col-sm-12 no-gutter panel-title">
                        <h4 class="title">Panel 1 <i class="fa fa-angle-down"></i></h4>
                    </div>
                    <div class="col-sm-12 no-gutter panel-content">
                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut molestie odio sit amet leo varius varius. In viverra dignissim pellentesque. Cras urna elit, convallis ut libero ut, interdum fringilla enim. In in leo vehicula, egestas lorem vestibulum, placerat ipsum. Mauris imperdiet dui sit amet nisl fringilla elementum. Vivamus sagittis urna orci, sed venenatis diam sollicitudin ut. Nam tempus tellus mauris, vel ornare ligula laoreet sed. Maecenas vulputate odio non enim scelerisque, ut dignissim tellus commodo. Donec vitae vulputate magna. Sed vulputate viverra cursus.</p>
                    </div>
                </div>
                 <div class="col-sm-12 no-gutter panel">
                    <div class="col-sm-12 no-gutter panel-title">
                        <h4 class="title">Panel 1 <i class="fa fa-angle-down"></i></h4>
                    </div>
                    <div class="col-sm-12 no-gutter panel-content">
                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut molestie odio sit amet leo varius varius. In viverra dignissim pellentesque. Cras urna elit, convallis ut libero ut, interdum fringilla enim. In in leo vehicula, egestas lorem vestibulum, placerat ipsum. Mauris imperdiet dui sit amet nisl fringilla elementum. Vivamus sagittis urna orci, sed venenatis diam sollicitudin ut. Nam tempus tellus mauris, vel ornare ligula laoreet sed. Maecenas vulputate odio non enim scelerisque, ut dignissim tellus commodo. Donec vitae vulputate magna. Sed vulputate viverra cursus.</p>
                    </div>
                </div>
                     <div class="col-sm-12 no-gutter panel">
                    <div class="col-sm-12 no-gutter panel-title">
                        <h4 class="title">Panel 1 <i class="fa fa-angle-down"></i></h4>
                    </div>
                    <div class="col-sm-12 no-gutter panel-content">
                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut molestie odio sit amet leo varius varius. In viverra dignissim pellentesque. Cras urna elit, convallis ut libero ut, interdum fringilla enim. In in leo vehicula, egestas lorem vestibulum, placerat ipsum. Mauris imperdiet dui sit amet nisl fringilla elementum. Vivamus sagittis urna orci, sed venenatis diam sollicitudin ut. Nam tempus tellus mauris, vel ornare ligula laoreet sed. Maecenas vulputate odio non enim scelerisque, ut dignissim tellus commodo. Donec vitae vulputate magna. Sed vulputate viverra cursus.</p>
                    </div>
                </div>
                     <div class="col-sm-12 no-gutter panel">
                    <div class="col-sm-12 no-gutter panel-title">
                        <h4 class="title">Panel 1 <i class="fa fa-angle-down"></i></h4>
                    </div>
                    <div class="col-sm-12 no-gutter panel-content">
                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut molestie odio sit amet leo varius varius. In viverra dignissim pellentesque. Cras urna elit, convallis ut libero ut, interdum fringilla enim. In in leo vehicula, egestas lorem vestibulum, placerat ipsum. Mauris imperdiet dui sit amet nisl fringilla elementum. Vivamus sagittis urna orci, sed venenatis diam sollicitudin ut. Nam tempus tellus mauris, vel ornare ligula laoreet sed. Maecenas vulputate odio non enim scelerisque, ut dignissim tellus commodo. Donec vitae vulputate magna. Sed vulputate viverra cursus.</p>
                    </div>
                </div>
                </div>
                    <div class="col-sm-12 no-gutter" id="place">
                    <div class="col-sm-12 no-gutter section-title">
                        <h4 class="title">Placement</h4>
                    </div>
                <div class="col-sm-12 no-gutter panel">
                    <div class="col-sm-12 no-gutter panel-title">
                        <h4 class="title">Panel 1 <i class="fa fa-angle-down"></i></h4>
                    </div>
                    <div class="col-sm-12 no-gutter panel-content">
                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut molestie odio sit amet leo varius varius. In viverra dignissim pellentesque. Cras urna elit, convallis ut libero ut, interdum fringilla enim. In in leo vehicula, egestas lorem vestibulum, placerat ipsum. Mauris imperdiet dui sit amet nisl fringilla elementum. Vivamus sagittis urna orci, sed venenatis diam sollicitudin ut. Nam tempus tellus mauris, vel ornare ligula laoreet sed. Maecenas vulputate odio non enim scelerisque, ut dignissim tellus commodo. Donec vitae vulputate magna. Sed vulputate viverra cursus.</p>
                    </div>
                </div>
                 <div class="col-sm-12 no-gutter panel">
                    <div class="col-sm-12 no-gutter panel-title">
                        <h4 class="title">Panel 1 <i class="fa fa-angle-down"></i></h4>
                    </div>
                    <div class="col-sm-12 no-gutter panel-content">
                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut molestie odio sit amet leo varius varius. In viverra dignissim pellentesque. Cras urna elit, convallis ut libero ut, interdum fringilla enim. In in leo vehicula, egestas lorem vestibulum, placerat ipsum. Mauris imperdiet dui sit amet nisl fringilla elementum. Vivamus sagittis urna orci, sed venenatis diam sollicitudin ut. Nam tempus tellus mauris, vel ornare ligula laoreet sed. Maecenas vulputate odio non enim scelerisque, ut dignissim tellus commodo. Donec vitae vulputate magna. Sed vulputate viverra cursus.</p>
                    </div>
                </div>
                     <div class="col-sm-12 no-gutter panel">
                    <div class="col-sm-12 no-gutter panel-title">
                        <h4 class="title">Panel 1 <i class="fa fa-angle-down"></i></h4>
                    </div>
                    <div class="col-sm-12 no-gutter panel-content">
                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut molestie odio sit amet leo varius varius. In viverra dignissim pellentesque. Cras urna elit, convallis ut libero ut, interdum fringilla enim. In in leo vehicula, egestas lorem vestibulum, placerat ipsum. Mauris imperdiet dui sit amet nisl fringilla elementum. Vivamus sagittis urna orci, sed venenatis diam sollicitudin ut. Nam tempus tellus mauris, vel ornare ligula laoreet sed. Maecenas vulputate odio non enim scelerisque, ut dignissim tellus commodo. Donec vitae vulputate magna. Sed vulputate viverra cursus.</p>
                    </div>
                </div>
                     <div class="col-sm-12 no-gutter panel">
                    <div class="col-sm-12 no-gutter panel-title">
                        <h4 class="title">Panel 1 <i class="fa fa-angle-down"></i></h4>
                    </div>
                    <div class="col-sm-12 no-gutter panel-content">
                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut molestie odio sit amet leo varius varius. In viverra dignissim pellentesque. Cras urna elit, convallis ut libero ut, interdum fringilla enim. In in leo vehicula, egestas lorem vestibulum, placerat ipsum. Mauris imperdiet dui sit amet nisl fringilla elementum. Vivamus sagittis urna orci, sed venenatis diam sollicitudin ut. Nam tempus tellus mauris, vel ornare ligula laoreet sed. Maecenas vulputate odio non enim scelerisque, ut dignissim tellus commodo. Donec vitae vulputate magna. Sed vulputate viverra cursus.</p>
                    </div>
                </div>
                </div>
                    <div class="col-sm-12 no-gutter" id="More">
                    <div class="col-sm-12 no-gutter section-title">
                        <h4 class="title">More</h4>
                    </div>
                <div class="col-sm-12 no-gutter panel">
                    <div class="col-sm-12 no-gutter panel-title">
                        <h4 class="title">Panel 1 <i class="fa fa-angle-down"></i></h4>
                    </div>
                    <div class="col-sm-12 no-gutter panel-content">
                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut molestie odio sit amet leo varius varius. In viverra dignissim pellentesque. Cras urna elit, convallis ut libero ut, interdum fringilla enim. In in leo vehicula, egestas lorem vestibulum, placerat ipsum. Mauris imperdiet dui sit amet nisl fringilla elementum. Vivamus sagittis urna orci, sed venenatis diam sollicitudin ut. Nam tempus tellus mauris, vel ornare ligula laoreet sed. Maecenas vulputate odio non enim scelerisque, ut dignissim tellus commodo. Donec vitae vulputate magna. Sed vulputate viverra cursus.</p>
                    </div>
                </div>
                 <div class="col-sm-12 no-gutter panel">
                    <div class="col-sm-12 no-gutter panel-title">
                        <h4 class="title">Panel 1 <i class="fa fa-angle-down"></i></h4>
                    </div>
                    <div class="col-sm-12 no-gutter panel-content">
                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut molestie odio sit amet leo varius varius. In viverra dignissim pellentesque. Cras urna elit, convallis ut libero ut, interdum fringilla enim. In in leo vehicula, egestas lorem vestibulum, placerat ipsum. Mauris imperdiet dui sit amet nisl fringilla elementum. Vivamus sagittis urna orci, sed venenatis diam sollicitudin ut. Nam tempus tellus mauris, vel ornare ligula laoreet sed. Maecenas vulputate odio non enim scelerisque, ut dignissim tellus commodo. Donec vitae vulputate magna. Sed vulputate viverra cursus.</p>
                    </div>
                </div>
                     <div class="col-sm-12 no-gutter panel">
                    <div class="col-sm-12 no-gutter panel-title">
                        <h4 class="title">Panel 1 <i class="fa fa-angle-down"></i></h4>
                    </div>
                    <div class="col-sm-12 no-gutter panel-content">
                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut molestie odio sit amet leo varius varius. In viverra dignissim pellentesque. Cras urna elit, convallis ut libero ut, interdum fringilla enim. In in leo vehicula, egestas lorem vestibulum, placerat ipsum. Mauris imperdiet dui sit amet nisl fringilla elementum. Vivamus sagittis urna orci, sed venenatis diam sollicitudin ut. Nam tempus tellus mauris, vel ornare ligula laoreet sed. Maecenas vulputate odio non enim scelerisque, ut dignissim tellus commodo. Donec vitae vulputate magna. Sed vulputate viverra cursus.</p>
                    </div>
                </div>
                     <div class="col-sm-12 no-gutter panel">
                    <div class="col-sm-12 no-gutter panel-title">
                        <h4 class="title">Panel 1 <i class="fa fa-angle-down"></i></h4>
                    </div>
                    <div class="col-sm-12 no-gutter panel-content">
                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut molestie odio sit amet leo varius varius. In viverra dignissim pellentesque. Cras urna elit, convallis ut libero ut, interdum fringilla enim. In in leo vehicula, egestas lorem vestibulum, placerat ipsum. Mauris imperdiet dui sit amet nisl fringilla elementum. Vivamus sagittis urna orci, sed venenatis diam sollicitudin ut. Nam tempus tellus mauris, vel ornare ligula laoreet sed. Maecenas vulputate odio non enim scelerisque, ut dignissim tellus commodo. Donec vitae vulputate magna. Sed vulputate viverra cursus.</p>
                    </div>
                </div>
                </div>
            </div>
         </div>
     </div>
</div>
</section>
</div>
{% endblock %}
