<!--
 @Author: Javed Ahamad
 @Date:   2017-02-12
 @Email:  javedahamad4@gmail.com
 @Filename: login.html.j2
-->

{% extends 'base.html.j2' %}


{% block main_content %}
 <div class="main-content inner forgot">
      <!-- div class main content start-->
<section class="scroll-first secondry-bg section-padding" id="forgot-pwd">
    <div class="container">
        <div class="col-sm-12">
            <div class="col-sm-7 col-xs-10 col-centered">
                <div class="col-sm-12 forgot-pwd">
                    <div class="col-xs-12">
                            <h3 class="title-head"><span>Forgot </span> Password</h3>
                            <h6>Enter the following details to set new Password</h6>
                        </div>
                    <form>
                        <div class="col-xs-12">
                            <input class="input" type="email" placeholder="Enter Your Email">
                        </div>
                        <div class="col-xs-12">
                            <input class="input" type="password" placeholder="Type Password">
                        </div>
                        <div class="col-xs-12">
                            <input class="input" type="Password" placeholder="RE-Type Password">
                        </div>
                        <div class="col-xs-12">
                            <input class="submit" type="submit" value="submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
     </section>
</div>
{% endblock %}
