{% extends 'base.html.j2' %}


{% block main_content %}
<div class="main-content inner Privacy-policy">
      <!-- div class main content start-->
<section class="scroll-first section-padding" id="privacy-ploicy">
    <div class="container">
        <div class="col-sm-12 privacy-policy">
                <div class="col-sm-12 privacy-content">
                <div class="col-xs-12 section-title">
                    <h3 class="title-head">Privacy <span>Policy</span></h3>
                </div>
                <div class="col-xs-12">
                    <p class="text">Thank you for visiting us ! It is our policy to protect your personal information and to use it in accordance with this Privacy Policy. Please take a few moments to review our Privacy Policy.</p>
                </div>
                <div class="col-xs-12 info-use info">
                    <h4 class="subtitle">Information Collection and Use</h4>
                    <p class="text">Green Decor asks you to provide certain personally identifiable information in order to use certain "Password Required" features and functions of the website/mobile app. By providing such information, you consent to our collection and use of it, as described in this Privacy Policy.</p>
                    <p class="text">The information you provide may include information provided during the registration process, including contact informaion, such as your name, address and email address.</p>
                    <p class="text">Information that you provide is the property of Green Decor and all of the information that you provide may be used by Green Decor to better serve you. Green Decor may also use this information to contact you about new specials, catalogs, products and other opportunities.</p>
                    <p class="text">You can contact Green Decor directly with questions or comments regarding the services by using the Green Decor contact inquiry form. This contact inquiry form asks you for certain identifying information so that Green Decor may respond to your inquiry.</p>
                    <p class="text">Green Decor may use your contact information to get in touch with you regarding the status of your registration or any orders you may place. You may also be contacted by us regarding additional services and features or requesting your feedback about your experience with Green Decor</p>
                    <p class="text">Green Décor may provide you with bulletin boards and chat rooms for your use. In the event you voluntarily disclose personally identifiable information using such services, that information, along with any content in your communication or post, can be collected, correlated and used by third parties. This may result in unsolicited messages from third parties. Such activities are beyond the control of Green Decor, which does not assume any duty to monitor or review the contents of any bulletin board or chat room.</p>
                    <p class="text">Where technically feasible, the domain names of visitors to Green Decor are automatically recognized by our server. Green Decor may use this information to track the number of visitors to the www.greendecor.in website/mobile app and to see which pages and services on www.greendecor.in are visited most often.</p>
                    <p class="text">Th optional on-line survey generally asks for demographic information like your gender, age, etc. to help us get to know you and better understand your gardening needs. This data is used to personalize your experience at www.greendecor.in by displaying content according to your preferences. We hope this will enhance your experience with the https://www.greendecor.in/ site.</p>
                    <p class="text">Green Decor may provide links of www.greendecor.in to other sites of interest. Green Decor does not review or endorse the content of these sites or guarantee that they will abide by this Privacy Policy. Your use of such linked sites is subject to the terms and conditions and privacy policies of the providers of those sites. We encourage our users to be aware when they leave our website/mobile app and to read the privacy statements of each website/mobile app that collects identifying information.</p>
                    <p class="text">Please note that your use of the www.greendecor.in website/mobile app and services is subject to Terms and Conditions.</p>
                </div>
                  <div class="col-xs-12 info other-use">
                    <h4 class="subtitle">Other Uses of Information</h4>
                    <p class="text">The only other instances in which Green Decor discloses your identifying information to third parties are: <br/> When it is required by law;<br/> When it is necessary to distribute materials that you request;<br/>
And when you expressly request that your information be disclosed.</p>
                </div>
                 <div class="col-xs-12 info use-cookie">
                    <h4 class="subtitle">Use Of Cookies</h4>
                    <p class="text">The use of cookies enables Green Decor to enhance your visits to the www.greendecor.in website/mobile app. Cookies enable greendecor.in systems to recognize your browser and provide features that are tailored to your gardening needs. For example, cookies enable us to record the items in your shopping cart. Green Decor uses this information to monitor product sales which help us to plan future offerings.</p>
                </div>
                <div class="col-xs-12 info your-info">
                    <h4 class="subtitle"> Accessing and Updating Your Information</h4>
                    <p class="text">You can always choose not to provide information, to opt-out of receiving communications from us or to update your information at any time. www.greendecor.in gives users the following options:</p>
                    <p class="text">Use the "Your Account" feature after entering your member name and password to receive access to your account page. At this location, you can subscribe or unsubscribe from our e-mail newsletters and you can update any information that you have provided to us.</p>
                    <p class="text">Click on the "Unsubscribe" link included at the bottom of each of our e-mails and follow the instructions on the web page. </p>
                </div>
                <div class="col-xs-12 info security-use">
                    <h4 class="subtitle"> Security Measures</h4>
                    <p class="text">We work hard to protect the security of your information by using Secure Socket Layer (SSL) technology, the current standard for secure transactions over the Internet. There are some simple measures that you can take to promote protection of your information. First, to help protect the security of your account, do not share your password with others. Also, remember to "log-off" after using any of our on-line services when you have finished using the website/mobile app. While Green Decor strives to protect your information by using SSL and through measures to protect our system, such security cannot be ensured. Consequently, Green Decor does not ensure or warrant the security of information you transmit, and you do so at your own risk.  </p>
                </div>
                 <div class="col-xs-12 info encrypt-use">
                    <h4 class="subtitle"> Encryption</h4>
                     <h5 class="subtitle"> What is Encryption?</h5>
                     <p class="text">Encryption is a process by which we use software to scramble sensitive information while it is in transit to Green Decor.</p>
                     <p class="text">Please take a moment to read about the steps that we have taken to help protect your information and make your online transmissions safer. We also invite you to review the steps you can take to help protect yourself further.</p>
                     <h5 class="subtitle">How Does Encryption Work?</h5>
                     <p class="text">Encryption is based on a key that has two different parts. The public part and the private part. The public part of the key is distributed to those you want to communicate with. The private part is for the recipient's use only.</p>
                     <p class="text">When you send personal information to www.greendecor.in, you use Green Decor public key to encrypt your personal information. That means, if at any point during the transmission your information is intercepted, it is scrambled and very difficult to decrypt. Once Green Decor receives your encrypted personal information, we use the private part of our key to decode it.</p>
                     <h5 class="subtitle">What Information Does Green Decor Encrypt?</h5>
                     <p class="text">Green Decor encrypts all personal information you give us when you place an order online. Remember, if you feel uncomfortable providing any of this information online, please feel free to call one of our representatives at +91-7838383755</p>
                     <h5 class="subtitle">How Safe is Encryption Really?</h5>
                     <p class="text">Providing encrypted information online is as safe as doing it over the phone. </p>
                </div>
                <div class="col-xs-12 info pp-change">
                    <h4 class="subtitle">Privacy Policy Changes</h4>
                    <p class="text">www.greendecor.in may update this Privacy Policy from time to time to better serve you. We encourage you to review this Privacy Policy periodically.</p>
                </div>
                <div class="col-xs-12 further-info">
                    <h4 class="subtitle">For Further Information</h4>
                    <p class="text">If you choose to visit www.greendecor.in, your visit and any dispute over privacy is subject to this Privacy Policy. If you have questions or comments concerning this Privacy Policy, you may contact us at:</p>
                    <p class="text">Green Decor</p>
                    <p class="text">311, D Mall<br/><br/>Netaji Subhash Palace, Pitampura<br/>New Delhi - 110034</p>
                    <p class="text">gaurav@greendecor.in</p>
                    <p class="text">+91 9953572573</p>
                </div>
            </div>
        </div>
    </div>
     </section>
</div>
{% endblock %}
