<!--
 @Author: Javed Ahamad
 @Date:   2017-02-12
 @Email:  javedahamad4@gmail.com
 @Filename: login.html.j2
-->

{% extends 'base.html.j2' %}


{% block main_content %}
<style>
.form .form-input input{
  padding: 8px 10px;
    border: 1px solid rgba(153, 153, 153, 0.6);
    margin-bottom: 10px;

}
.form .form-input label{
  margin-bottom: 5px;

}
.guest-btn a{
  border: 1px solid #808080;
  color: #808080;
  border-radius: 0;
}
.guest-btn a i.fa{
  font-size: 20px;
  vertical-align: text-bottom;
  margin: 0 0 0 2px;
}
@media only screen and (max-width: 460px){
  .form .form-input{
    padding: 0;
    margin: 15px 0 25px;

  }
  .form .form-input ul.tabs{
    padding-top: 0;
    padding-bottom: 20px;
  }
  .guest-btn h3{
    margin: 15px 0 20px;
  }
  .guest-btn a{
    margin: 30px 0 0;
  }
  h3.title-head{
    margin-bottom: 10px;
  }
  div.tab-content{
    height: 365px;
  }
  .form .form-input input{
    margin-bottom: 15px;
  }
}
</style>
 <div class="main-content inner signup-form">
      <!-- div class main content start-->
      <!-- /container -->
<section class="scroll-first section-padding" id="login-signup">
  <div class="container">
    <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-12 form col-centered">
            <div class="signup col-xs-12 no-gutter">
                <div class="col-sm-5 col-xs-12 border-right hidden-xs">
                    <h3 class="title-head"><span>Get</span> Started</h3>
                   <p class="title">Please Signup to create GD Account to manage / track your Orders.</p>
                        <a href="{{ url('social:begin',args=['google-oauth2',]) }}" class="google-btn"><i class="fa fa-google-plus"></i>Sign up with Google</a>
                        <a href="{{ url('social:begin', args=['facebook',]) }}" class="facebook-btn"><i class="fa fa-facebook"></i>Sign up with Facebook</a>
                </div>
                <div class="col-sm-7 form-input">
                  <div class="col-xs-12 hollow-button guest-btn text-center hidden-lg hidden-md hidden-sm">
                    <a href="{{url('shipping')}}" class="button">Continue as a guest <i class="fa fa-angle-right"></i></a>
                    <h3 class="">OR</h3>
                  </div>
                <div class="col-xs-12">
                    <ul class="tabs">
                         <a href="{{url('login')}}"><li >Log In</li></a>
                         <li class="active-tab">Sign Up</li>
                    </ul>
                    <div class="tab-content no-gutter col-xs-12">
                      <div class="col-xs-12">
                        <form method="post">
                          <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                          <div class="col-xs-12">
                              <label>User Mobile</label>
                              {{form.username}}
                              {% if errors.has_key('username') %}
                                <div>
                                  <p style="color:red;text-align:center;">{{errors['username']}}</p>
                                </div>
                              {% endif %}
                              <!-- <input type="text" /> -->
                          </div>
                          <div class="col-xs-12">
                              <label>Email</label>
                              <!-- <input type="email" /> -->
                              {{form.email}}
                              {% if errors.has_key('email') %}
                              <div>
                                <p style="color:red;text-align:center;">{{errors['email']}}</p>
                              </div>
                              {% endif %}
                          </div>
                          <div class="col-xs-12 show-pwd">
                              <label>Password</label>
                              {% if errors.has_key('password') %}
                                  <i class="fa fa-eye"></i>

                              <div>
                                <p style="color:red;text-align:center;">{{errors['password']}}</p>
                              </div>
                              {% endif %}
                              <!-- <input type="Password" /> -->
                              {{form.password}}
                          </div>
                          <div class="col-xs-12 submit">
                              <input type="Submit" value="Get Started" />
                          </div>
                          <div class="col-xs-12 hollow-button guest-btn text-center hidden-xs">
                            <h3 class="">OR</h3>
                            <a href="{{url('shipping')}}" class="button">Continue as a guest <i class="fa fa-angle-right"></i></a>
                          </div>
                        </form>
                      </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
</section>
</div>

<style>

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
}
</style>

{% endblock %}
