{% extends 'base.html.j2' %}


{% block main_content %}
<div class="main-content inner Terms-Condition">
      <!-- div class main content start-->
<section class="scroll-first section-padding" id="Terms-condition">
    <div class="container">
        <div class="col-sm-12 privacy-policy terms-condition">
                <div class="col-sm-12 privacy-content">
                <div class="col-xs-12 section-title">
                    <h3 class="title-head">Terms &amp; <span> Condition</span></h3>
                </div>
                <div class="col-xs-12 terms-condition-content">
                    <p class="text">Please read and understood the provisions of this Agreement before agreeing. In case you have any doubt please write to us and get necessary clarifications before accepting the Agreement. This TERMS &amp; CONDITIONS (“Agreement”) is effective upon the acceptance by you by clicking ‘Agree’.  </p>
                    <p class="text">Whereas Green Decor provides information and various Gardening/ Nursery (indoor &amp; outdoor plants) related products &amp; services through its website/mobile apps in the name of “Green Décor”.</p>
                    <p class="text">By accepting this Agreement, we presume that the Customer has read and understood the provisions contained in this Agreement and the Customer agrees the terms and conditions set out under this Agreement. </p>
                    <p class="text">Now, therefore, in consideration of the premises and mutual covenants set forth herein, you hereby agree as follows:</p>
                    <div class="col-xs-12">
                        <div class="col-xs-12">
                            <p class="text"><span>1. Scope of Services: </span>  We offer the Products &apm; Services indicated in our website/mobile app. We are an organization with the aim to offer a wide selection of plants and garden items. The cost, charges and the fee payable are as shown therein. (Services)</p>
                            <p class="text"><span>2. Standards of Conduct: </span>  We offer the Product &amp; Services in accordance with the Laws and standard industry practices.</p>
                            <p class="text"><span>3. Synergy in Performance: </span>  You acknowledge and agree that the provision of our Product &amp; Services shall be based upon the timely provision of the details by you. You undertake the timely completion of such requirements.  We shall not be held responsible for delays if any, occurs due to the non-availability of such information/details to be provided by you.</p>
                            <p class="text"><span>4. Payment Fees and Charges:  </span>  In consideration to the Products &amp; Services availed, you shall pay the fees and charges to us as set out under our website/mobile app. The mode of payment shall be adhered to.</p>
                            <p class="text"><span>5. Service Terms </span> </p>
                            <div class="col-xs-12 term-list-type info">
                                <h5 class="title">Placing &amp; Confirmation of Orders</h5>
                                <p class="text">Security is our prime concern and we take it very seriously. When you complete you credit/debit card details at the checkout, all the information is encrypted before leaving the computer. The information will remain encrypted until it is received by our secure server at this stage the information the customer has entered is verified. A confirmation of the product that has been purchased by the customer is received safely and is displayed on the customer’s screen a few moments later. He/ She then receive an order confirmation after further processing by telephone/email. The same information is received by us and we start mobilizing your order.</p>
                            </div>
                            <div class="col-xs-12 term-list-type info">
                                <h5 class="title">Picture Policy – Plants, Pots and other accessories</h5>
                                <p class="text">The picture of plants, trees and pots in the website www.greendecor.in are only meant for reference which help in ordering the same. The plant, pots and other accessories delivered to you should not be compared with the picture displayed at the website.</p>
                            </div>
                            <div class="col-xs-12 term-list-type info">
                                <h5 class="title">Availability &amp; Pricing</h5>
                                <p class="text">The price of the product that is displayed in our online nursery of www.greendecor.in is the final price of the relevant product on this website. There are no hidden charges or cost. Please note those prices are subject to change at any time without any prior notice. While we try to ensure that the product’s price in the online nursery is accurate and available with us all the time but errors may occur. If we discover that there is no availability of the product or error in the product’s price you have ordered, we will inform you as soon as possible and will give you the option of either reconfirming the order with the correct price or till the availability of the same product before delivering the order or will cancel it and full money will be refunded.</p>
                            </div>
                            <div class="col-xs-12 term-list-type info">
                                <h5 class="title">Payment Option</h5>
                                <p class="text">The price of the product that is displayed in our online nursery of www.greendecor.in is the final price of the relevant product on this website. There are no hidden charges or cost. Please note those prices are subject to change at any time without any prior notice. While we try to ensure that the product’s price in the online nursery is accurate and available with us all the time but errors may occur. If we discover that there is no availability of the product or error in the product’s price you have ordered, we will inform you as soon as possible and will give you the option of either reconfirming the order with the correct price or till the availability of the same product before delivering the order or will cancel it and full money will be refunded.</p>
                            </div>
                            <div class="col-xs-12 term-list-type info">
                                <h5 class="title">Canceling the Order</h5>
                                <p class="text">You cannot cancel your order once you have confirmed the order at our website/mobile app, www.grendecor.in. We do not entertain any cancellation of the orders what so ever.</p>
                            </div>
                            <div class="col-xs-12 term-list-type info">
                                <h5 class="title">Returning your Order</h5>
                                <p class="text">Since the nature of our product is perishable and fragile, in that case we take all our possible care not to send any defected or damaged product, but sometimes in transportation damages can occur therefore at the time of delivering the products it is highly advised to check your product then and there only. If you feel and discover that the goods are faulty, you must notify us to the delivery person or to our customer care/ helpline numbers. We will take best possible measure like repairing and replacement as per the mutual consent of both the parties. We strictly advice you to keep all your order and payment receipts with you.</p>
                            </div>
                            <div class="col-xs-12 term-list-type info">
                                <h5 class="title">Delivery Charges and Destinations</h5>
                                <p class="text">We are the retailers &amp; distributors of Gardening &am; Nursery related products. The delivery charge will vary from product to product and depending upon the type &amp; weight of the products. The cost of the delivery, extra if any, will be borne by customers and it will be suitably notified while placing the order through our website/mobile app.</p>
                            </div>
                            <div class="col-xs-12 term-list-type info">
                                <h5 class="title">Viruses</h5>
                                <p class="text">Please note that viruses and similar destructive programs are an inherent risk of communication via the Internet. We will use our reasonable endeavors to prevent contamination of any material sent to you with any virus or similar destructive code. We do not accept any liability for any virus or similar destructive code which computer equipment and/or software used by you may suffer as a result of your accessing our web site and/or any other communication via the Internet between you and us. It is your responsibility to scan what you choose to download from our web site to ensure that it is free of such items as viruses, worms, Trojan horses and other similar destructive code.</p>
                            </div>
                            <div class="clearfix"></div>
                            <p class="text"><span>6. Intellectual Property: </span>  You shall not use our brands, names, logos, trademarks, service marks, copyrights, patents, designs, software, trade names, proprietary processes, tools, methodologies, software or hardware solutions, and improvements thereon or other intellectual property rights (individually and collectively “Intellectual Property”) without the prior written consent of us.</p>
                            <p class="text"><span>7. Indemnification: </span> You shall indemnify and hold us harmless from and against any and all loss, damage, deficiency, cost, claim, expense, judgment or liability (including costs of defense, court costs and reasonable attorney fees) (collectively “Claims”) occasioned, incurred, suffered by us or to any third parties arising out of or in connection with, in whole or in part, directly or indirectly due to your: (a) breach of any covenant contained in this Agreement; (b)misrepresentation or breach of any representation or warranty contained in this Agreement; (c)arising from or relating to injury to property or injury to person, including death, as a result of any act or omission (whether intentional, negligent or otherwise) in connection with the obligations under this Agreement.</p>
                            <p class="text"><span>8. Limitation and Exclusion of Liability: </span>  We shall not be liable to you for any indirect, incidental, special, exemplary or consequential loss or damages, including loss of use or data or lost revenue or profits, even if it has been advised of the possibility of such damages. Our liability in contract, tort, or otherwise, including any liability for negligence howsoever arising out of or in connection with the performance of its obligation under this Agreement, shall be limited to the Fee and Charges paid by you.</p>
                            <p class="text"><span>9. Force Majeure: </span>  In this Agreement, "Force Majeure" shall mean any of the events or circumstances or combination of events or circumstances that is beyond our reasonable control which adversely affects our performances.  Under a Force Majeure event, we shall not be responsible or liable for, or deemed in breach hereof because of, any failure or delay in complying with its obligations under or pursuant to this Agreement.</p>
                            <p class="text"><span>10. Confidentiality: </span>  You are not authorized to disclose any information to a third party which is otherwise adversely affecting our Services.</p>
                            <p class="text"><span>11. Applicable Law and Dispute Resolution: </span>  This Agreement shall be interpreted in accordance with Laws of India. Any dispute, controversy or claim arising out of or in relation to this Agreement, if the same cannot be settled amicably between us, the Courts in Delhi will have exclusive jurisdiction.</p>
                            <p class="text"><span>12. Entire Agreement: </span>  This Agreement constitutes the entire agreement and understanding between us.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     </section>
</div>
{% endblock %}