
<!DOCTYPE html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>
<body>
<form id="myform" action='https://secure.payu.in/_payment' method='post'>
    <input type="hidden" name="firstname" value="{{payee_name}}" /><br/>
    <input type="hidden" name="lastname" value=""/><br/>
    <input type="hidden" name="surl" id='surl' value="{{surl}}" />
    <input type="hidden" name="phone" value="{{payee_mobile}}" /><br/>
    <input type="hidden" name="key" value="{{key}}" />
    <input type="hidden" name="hash" value = "{{hash_code}}" />
    <input type="hidden" name="curl" id='curl' value="{{curl}}" />
    <input type="hidden" name="furl" id='furl' value="{{furl}}" />
    <input type="hidden" name="txnid" value="{{invoice_id}}" />
    <input type="hidden" name="productinfo" value="{{transaction.id}}" />
    <input type="hidden" name="amount" value="{{transaction.amount}}" /><br/>
    <input type="hidden" name="service_provider" value="payu_paisa" />
    <input type="hidden" name="email" value="{{payee_email}}" /><br/>
</form>
<script>
$(document).ready(function(){
    // alert($('#myform').serialize())
    $('#myform').submit();
});
</script>
</body></html>
